.text-editor {
	border-radius: var(--border-radius);

	&:focus-within {
		outline: var(--outline-width) solid var(--primary-color);
	}

	.text-editor-buttons {
		align-items: center;
		background: var(--background-color-secondary);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		display: flex;
		gap: calc(var(--spacing) / 2);
		padding: calc(var(--spacing) / 2);

		button {
			background: transparent;
			border: none;
			border-radius: var(--border-radius);
			cursor: pointer;
			padding: 0.6em 0.8em;

			display: grid;
			place-items: center;

			&:hover {
				background: var(--primary-color);
				color: var(--primary-color-contrast);
			}
		}

		span {
			background: var(--border-color);
			border-radius: var(--border-radius);
			height: 1em;
			margin-inline: calc(var(--spacing) / 2);
			width: var(--outline-width);
		}

		.active {
			background-color: #f4f4f4;
		}
	}

	.text-editor-content {
		border-inline: var(--outline-width) solid var(--border-color);
		padding: calc(var(--spacing) / 2);
		width: 100%;
		outline: none;
		overflow-y: scroll;

		img {
			border-radius: var(--border-radius);
			max-height: 100px;
			max-width: 100px;
			min-height: 50px;
			min-width: 50px;
			object-fit: cover;
		}
	}

	.text-editor-caption {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		background: var(--background-color-secondary);
		padding: var(--spacing);
	}
}
