.dropdown {
	display: inline-block;
	position: relative;
	transition: var(--transition);
	z-index: 200;

	&.active {
		filter: var(--bleed-shadow);

		> .dropdown-button > * {
			background: var(--background-color-secondary);
		}
	}

	> .dropdown-menu {
		min-width: 100%;

		&.right {
			left: 0;

			.dropdown-menu {
				left: calc(100% + var(--outline-width));
			}

			.dropdown-menu-item {
				.fa-angle-down {
					&.expanded {
						transform: rotate(-90deg);
					}
				}
			}
		}

		&.left {
			right: 0;

			.dropdown-menu {
				right: calc(100% + var(--outline-width));
			}

			.dropdown-menu-item {
				.fa-angle-down {
					&.expanded {
						transform: rotate(90deg);
					}
				}
			}
		}
	}

	.dropdown-menu {
		background: var(--background-color-primary);
		border-radius: var(--border-radius);
		display: flex;
		flex-direction: column;
		list-style-type: none;
		padding: 0;
		position: absolute;
		top: calc(100% + var(--outline-width));

		white-space: nowrap;

		> .divider {
			height: calc(46px / 2);
			position: relative;

			&::before {
				background: var(--border-color);
				content: '';
				height: var(--outline-width);
				left: 0;
				position: absolute;
				top: 50%;
				width: 100%;
			}
		}

		.dropdown-menu-item {
			height: 46px;
		}

		> .dropdown-menu-item {
			align-items: center;
			background: transparent;
			border: none;
			cursor: pointer;
			display: flex;
			padding: var(--spacing);

			text-align: left;

			.fa-angle-down {
				transition: var(--transition);
			}

			&:hover {
				background: var(--background-color-secondary);
			}

			> i:first-child {
				margin-inline-end: var(--spacing);
				text-align: center;
				width: 20px;
			}

			> i:last-child {
				margin-inline-start: var(--spacing);
			}

			> span:first-of-type {
				flex: 1;
				padding-inline-end: calc(var(--spacing) * 2);
			}

			&:first-of-type {
				border-top-left-radius: var(--border-radius);
				border-top-right-radius: var(--border-radius);
			}

			&:last-of-type {
				border-bottom-left-radius: var(--border-radius);
				border-bottom-right-radius: var(--border-radius);
			}

			.shortcut {
				align-items: center;
				color: var(--primary-color);
				display: flex;
				filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
			}
		}
	}
}
