.dropdown {
	position: relative;
	display: inline-block;
	transition: var(--transition);
	z-index: 200;

	&.active {
		filter: var(--bleed-shadow);

		> .dropdown-button > * {
			background: var(--background-color-secondary);
		}
	}

	> .dropdown-button {
		> * {
			margin: 0;
		}
	}

	> .dropdown-menu {
		min-width: 100%;

		&.right {
			left: 0;

			.dropdown-menu {
				left: calc(100% + var(--outline-width));
			}

			.dropdown-menu-item {
				.fa-angle-down {
					&.expanded {
						transform: rotate(-90deg);
					}
				}
			}
		}

		&.left {
			right: 0;

			.dropdown-menu {
				right: calc(100% + var(--outline-width));
			}

			.dropdown-menu-item {
				.fa-angle-down {
					&.expanded {
						transform: rotate(90deg);
					}
				}
			}
		}
	}

	.dropdown-menu {
		position: absolute;
		background: var(--background-color-primary);
		list-style-type: none;
		white-space: nowrap;
		border-radius: var(--border-radius);
		display: flex;
		flex-direction: column;
		padding: 0;
		gap: 1px;

		top: calc(100% + var(--outline-width));

		margin: 0;

		> .dropdown-menu-item {
			display: flex;
			align-items: center;
			background: transparent;
			border: none;
			padding: var(--spacing);
			text-align: left;
			cursor: pointer;

			.fa-angle-down {
				transition: var(--transition);
			}

			&:hover {
				background: var(--background-color-secondary);
			}

			> i:first-child {
				width: 20px;
				text-align: center;
				margin-inline-end: var(--spacing);
			}

			> i:last-child {
				margin-inline-start: var(--spacing);
			}

			> span:first-of-type {
				flex: 1;
				padding-inline-end: calc(var(--spacing) * 2);
			}

			&:first-of-type {
				border-top-left-radius: var(--border-radius);
				border-top-right-radius: var(--border-radius);
			}

			&:last-of-type {
				border-bottom-left-radius: var(--border-radius);
				border-bottom-right-radius: var(--border-radius);
			}

			.shortcut {
				color: var(--primary-color);
				filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
			}
		}
	}
}
