.editor-container {
	.editor-hints {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: var(--spacing);
		width: 100px;

		position: relative;

		.hint-number {
			background: var(--primary-color);
			border-radius: var(--border-radius);
			color: var(--primary-color-contrast);
			display: grid;
			font-size: 1.5em;
			font-weight: bold;
			height: 1.8em;
			place-items: center;
			width: 1.8em;

			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: var(--transition);
			z-index: 4;
		}

		.caption {
			line-height: 0.9em;
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			text-align: center;
			transition: all var(--transition);

			position: absolute;
			top: 50%;
			z-index: 3;
		}
	}

	.glass {
		flex: 1;
	}

	&:focus-within,
	&:hover {
		.editor-hints {
			.hint-number {
				transform: translateY(-75%);
			}

			.caption {
				margin-top: calc(var(--spacing));
				max-height: 100px;
				opacity: 1;
			}
		}
	}

	#editor-question-title {
		flex: 1;
		border: var(--outline-width) solid var(--border-color);
		height: calc(2 * var(--ui-spacing));
		padding-inline: var(--spacing);
		border-radius: var(--border-radius);
		font-size: 2em;
		font-weight: 700;

		background: var(--background-color-glass);
		transition: background-color var(--transition);

		&:focus {
			background: var(--background-color-primary);
		}
	}

	.editor-question-type-select {
		align-items: center;
		align-self: stretch;
		cursor: pointer;
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: var(--spacing);
		padding: calc(var(--spacing) * 2);
		user-select: none;

		i {
			margin-block: calc(var(--spacing) / 2);
		}

		&:hover {
			background: var(--background-color-primary);
		}

		&:nth-child(2).selected {
			background: var(--background-color-glass-simp);
		}

		&:nth-child(3) {
			outline: var(--outline-width) solid transparent;
		}

		&:nth-child(3).selected {
			background: var(--background-color-primary);
			outline-color: var(--primary-color);
		}
	}
}

@media (max-width: 768px) {
	.editor-container {
		.editor-hints {
			width: 60px;
		}
	}
}
