.login {
	align-items: center;

	display: flex;
	flex-wrap: wrap;
	--login-form-width: 500px;
	height: 100vh;
	justify-content: center;
	max-height: 100vh;

	> :first-child {
		flex: 1 1 var(--login-form-width);
		min-width: var(--login-form-width);

		img {
			height: 90%;
			max-height: 90vh;
			object-fit: contain;
			width: 90%;
		}
	}

	main {
		background: var(--background-color-secondary);

		display: flex;
		flex-direction: column;
		gap: var(--spacing);
		height: 100%;
		justify-content: center;
		padding: calc(var(--spacing) * 2);

		position: relative;

		width: var(--login-form-width);

		&::before {
			aspect-ratio: 1/1;
			background: red;
			background: radial-gradient(circle at 100% 0%, var(--primary-color) 10%, transparent 70%);
			content: '';
			left: 0;
			max-height: 50%;
			opacity: var(--background-bleed-opacity);
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 0;
		}

		> * {
			z-index: 1;
		}

		.back {
			color: var(--primary-color);
			margin-bottom: var(--spacing);
			text-decoration: none;

			i {
				margin-right: var(--spacing);
			}
		}

		.login-title {
			line-height: 1.25em;
			margin-bottom: 0.4em;
		}

		.login-subtitle {
			font-size: 0.8em;
			opacity: 0.8;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: var(--spacing);

			&,
			.btn {
				margin-top: calc(var(--spacing) * 2);
			}

			.btn {
				align-self: flex-start;
			}
		}

		.form-divider {
			align-items: center;
			display: flex;
			margin-top: calc(var(--spacing) * 1);

			.form-divider-line {
				background: var(--border-color);
				border-radius: var(--border-radius);
				flex: 1;
				height: var(--outline-width);
				width: 100%;
			}

			.caption {
				margin-inline: var(--spacing);
			}
		}

		.login-social {
			display: flex;
			flex-direction: row;
			gap: var(--spacing);
			margin-bottom: var(--spacing);
			width: 100%;

			> * {
				flex: 1;
			}
		}
	}

	@media (max-width: 1000px) {
		& {
			background: var(--background-color-secondary);
		}

		> :first-child {
			display: none;
		}

		> :last-child {
			&::before {
				left: calc(100vw - 100%);
			}
		}
	}
}
