.question-main {
	align-items: flex-start !important;
	display: flex;

	gap: var(--spacing);

	.glass {
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		padding: var(--spacing);

		position: relative;

		&.question-content {
			display: flex;
			flex-direction: column;

			justify-content: space-evenly;
		}

		.add-favorite {
			border-radius: var(--border-radius);
			cursor: pointer;
			font-size: 1.2em;
			outline-offset: calc(var(--outline-width) * 2);
			position: absolute;
			right: var(--spacing);
			top: var(--spacing);
		}

		.question-title {
			margin-block: calc(var(--spacing) / 2);
		}

		.question-author {
			align-items: center;
			border-radius: var(--border-radius);
			cursor: pointer;
			display: flex;
			gap: var(--spacing);
			outline-offset: calc(var(--spacing) / 2);
			overflow: visible;
			user-select: none;
			white-space: nowrap;

			.question-author-info {
				display: flex;
				flex-direction: column;

				* {
					margin: 0;
				}

				p {
					display: flex;
					gap: calc(var(--spacing) / 2);
				}
			}
		}
	}

	.question-report {
		background: transparent;
		border: none;
		border-radius: var(--border-radius);
		cursor: pointer;
		opacity: 0.8;
		outline-offset: var(--outline-width);
		padding-inline-end: var(--spacing);

		display: flex;
		align-items: center;

		i {
			margin-inline: var(--spacing);
		}

		&:hover {
			opacity: 1;
		}
	}
}

@media (max-width: 768px) {
	.question-main {
		flex-direction: column !important;

		.glass:last-child {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			.question-stats {
				column-gap: var(--spacing);
				display: grid;
				grid-template-columns: 1fr 1fr;

				.question-stat:nth-child(2) {
					grid-row: 1;
				}
			}

			> .caption {
				display: none;
			}

			hr {
				display: none;
			}
		}
	}
}
