.editor-container {
	.editor-hints {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: var(--spacing);
		width: 100px;

		.hint-number {
			background: var(--primary-color);
			border-radius: var(--border-radius);
			color: var(--primary-color-contrast);
			display: grid;
			font-size: 1.5em;
			font-weight: bold;
			height: 1.8em;
			place-items: center;
			width: 1.8em;
		}

		.caption {
			line-height: 0.9em;
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			text-align: center;
			transition: all var(--transition);
		}
	}

	.glass {
		flex: 1;
	}

	&:focus-within,
	&:hover {
		.editor-hints {
			.caption {
				margin-top: calc(var(--spacing) / 2);
				max-height: 100px;
				opacity: 1;
			}
		}
	}

	.rich-text-buttons {
		align-items: center;
		background: var(--background-color-secondary);
		border-radius: var(--border-radius);
		display: flex;
		gap: calc(var(--spacing) / 2);

		button {
			background: transparent;
			border: none;
			border-radius: inherit;
			cursor: pointer;
			padding: 0.5rem 1rem;

			&:hover {
				background: var(--primary-color);
				color: var(--primary-color-contrast);
			}
		}

		span {
			background: var(--border-color);
			border-radius: var(--border-radius);
			height: 1em;
			margin-inline: var(--spacing);
			width: var(--outline-width);
		}

		.active {
			background-color: #f4f4f4;
		}
	}

	#question-editor {
		border: var(--outline-width) solid var(--border-color);
		border-radius: var(--border-radius);
		height: 240px;
		margin-block: var(--spacing);
		overflow-y: scroll;
		padding: calc(var(--spacing) / 2);
		width: 100%;

		img {
			border-radius: var(--border-radius);
			max-height: 100px;
			max-width: 100px;
			min-height: 50px;
			min-width: 50px;
			object-fit: cover;
		}
	}

	.editor-question-type-select {
		align-items: center;
		align-self: stretch;
		cursor: pointer;
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: var(--spacing);
		padding: calc(var(--spacing) * 2);
		user-select: none;

		i {
			margin-block: calc(var(--spacing) / 2);
		}

		&:hover {
			background: var(--background-color-primary);
		}

		&:nth-child(2).selected {
			background: var(--background-color-glass-simp);
		}

		&:nth-child(3) {
			outline: var(--outline-width) solid transparent;
		}

		&:nth-child(3).selected {
			background: var(--background-color-primary);
			outline-color: var(--primary-color);
		}
	}
}

@media (max-width: 768px) {
	.editor-container {
		.editor-hints {
			width: 60px;
		}
	}
}
