.profile-memberships {
	table {
		tr td {
			padding-block: calc(var(--spacing) / 2);
		}

		i {
			width: 40px;
			text-align: center;
		}

		td:first-child i {
			margin-inline-end: calc(var(--spacing) / 2);
		}

		td.plan {
			border-radius: var(--border-radius);
		}
	}
}
