nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    max-height: 100svh;
    background-color: var(--background-color-primary);
    gap: var(--spacing);
}

nav > :first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    background: var(--primary-color);
    color: var(--primary-color-contrast);
}

nav a {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 40px;
    margin-left: var(--spacing);
    text-decoration: none;
    color: inherit;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    padding-inline: 1em;
    position: relative;
}

nav a.active,
nav a:hover {
    position: relative;
    background: var(--background-color-secondary);
}

nav a.active::before,
nav a.active::after,
nav a:hover::before,
nav a:hover::after {
    position: absolute;
    right: 0;
    width: var(--border-radius);
    height: var(--border-radius);
    content: '';
    background: var(--background-color-primary);
}

nav a.active::before,
nav a:hover::before {
    top: calc(var(--border-radius) * -1);
    border-radius: 0 0 100vw 0;
    box-shadow: 2px 2px 0 2px var(--background-color-secondary);
}

nav a.active::after,
nav a:hover::after {
    bottom: calc(var(--border-radius) * -1);
    border-radius: 0 100vw 0 0;
    box-shadow: 2px -2px 0 2px var(--background-color-secondary);
}

nav a i {
    font-size: 1.2em;
    width: 40px;
    text-align: center;
}

nav a .badge {
    position: absolute;
    right: var(--spacing);
}

main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--background-color-secondary);
    padding-inline: var(--spacing);
    gap: var(--spacing);
}

main > div.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    border-radius: var(--border-radius);
    background: var(--background-color-primary);
    padding-inline: var(--spacing);
}

main > div.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--header-height) - var(--spacing));
    padding-inline: 0;
    background: none;
    gap: var(--spacing);
    margin-top: var(--spacing);
}

main > div.top-bar > * {
    display: flex;
    align-items: center;
    height: inherit;
}

main > div.top-bar > .search-bar {
    flex: 1;
    border-radius: var(--border-radius);
    background: var(--background-color-primary);
    padding-inline: var(--spacing);
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
}

main > div.top-bar > .search-bar > * {
    opacity: 0.5;
}
