nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100dvh;
    background-color: var(--background-color-primary);
}

nav > :first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: var(--primary-color);
}

nav a {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 40px;
    text-decoration: none;
    color: inherit;
    padding-inline: 1em;
}

nav a i {
    font-size: 1.2em;
    width: 40px;
    text-align: center;
}

nav a:hover {
    background-color: var(--background-color-secondary);
}

main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    margin-left: 250px;
    background: var(--background-color-secondary);
}

main > div.container {
    width: 90%;
    max-width: 1200px;
    margin: var(--spacing) auto;
    border-radius: var(--border-radius);
    background: var(--background-color-primary);
    padding-inline: var(--spacing);
}

main > div.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-top: 0;
    background: none;
    gap: var(--spacing);
    padding-inline: var(--spacing);
}

main > div.top-bar > * {
    display: flex;
    align-items: center;
    height: inherit;
}

main > div.top-bar > .search-bar {
    flex: 1;
    border-radius: var(--border-radius);
    background: var(--background-color-primary);
    padding-inline: var(--spacing);
}
