:root {
	--spacing: 1em;
	--transition: 0.2s ease-in-out;

	--background-bleed-opacity: 0.4;
	--background-bleed-opacity-dark: 0.2;
	--background-bleed-opacity-light: 0.4;

	--border-color: #e0e0e0;
	--font-color: black;
	--primary-color: #109E63;

	--primary-color-contrast: #fff;
	--border-color-dark: #1f1f1f;
	--font-color-dark: white;

	--background-color-glass: rgba(255, 255, 255, .6);
	--background-color-glass-dark: rgba(0, 0, 0, .6);
	--background-color-glass-light: rgba(255, 255, 255, .6);

	--background-color-glass-simp: rgba(255, 225, 255, .6);
	--background-color-glass-simp-dark: rgba(60, 0, 60, .6);
	--background-color-glass-simp-light: rgba(255, 225, 255, .6);

	--border-color-light: #e0e0e0;
	--font-color-light: black;
	--background-color-primary: white;

	--background-color-primary-dark: black;
	--background-color-primary-light: white;
	--background-color-secondary: #f5f5f5;

	--background-color-secondary-dark: #0e0e0e;
	--background-color-secondary-light: #f5f5f5;
	--header-height: 60px;

	--border-radius: 10px;
	--bleed-shadow: drop-shadow(0 0 60px var(--primary-color));
	--box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

	--bleed-shadow-dark: drop-shadow(0 0 100px var(--primary-color));
	--box-shadow-dark: 0 0 5px rgba(255, 255, 255, 0.1);
	--box-shadow-elevated: 0 0 10px rgba(0, 0, 0, 0.2);

	--box-shadow-elevated-dark: 0 0 10px rgba(255, 255, 255, 0.2);
	--box-shadow-elevated-light: 0 0 10px rgba(0, 0, 0, 0.2);
	--bleed-shadow-light: drop-shadow(0 0 60px var(--primary-color));
	--box-shadow-light: 0 0 5px rgba(0, 0, 0, 0.1);
	--max-width: 1200px;
	--outline-width: 2px;
}

* {
	box-sizing: border-box;
	margin: 0;
	outline-color: var(--primary-color);
	outline-width: 2px;
	padding: 0;
}

body {
	background: var(--background-color-primary);
	color: var(--font-color);
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.badge {
	background: var(--primary-color);
	border-radius: var(--border-radius);
	color: var(--primary-color-contrast);
	font-size: 0.8em;
	padding: calc(var(--spacing) / 4) calc(var(--spacing) / 1.5);
	white-space: nowrap;

	&.badge-outline {
		background: transparent;
		color: var(--primary-color);
		outline: 1px solid var(--primary-color);
	}
}

.avatar {
	border-radius: 50%;
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
	height: 40px !important;
	object-fit: cover;
	pointer-events: none;
	width: 40px !important;
}

::selection {
	background-color: var(--primary-color);
	color: var(--primary-color-contrast);
}

input[type="checkbox"] {
	accent-color: var(--primary-color);
}

*:focus {
	outline-style: solid;
}

.btn,
.form-input {
	border-radius: var(--border-radius);

	--form-element-height: 40px;
	font-size: 0.9em;
	height: var(--form-element-height);

	&.btn {
		align-items: center;
		border: none;
		cursor: pointer;
		display: flex;
		padding: calc(var(--spacing) / 1.5) calc(var(--spacing) * 1.5);
		text-decoration: none;
		transition: background-color var(--transition);
		user-select: none;
		white-space: nowrap;

		i {
			margin-inline-end: var(--spacing);
		}

		&.btn-primary {
			background: var(--primary-color);
			color: var(--primary-color-contrast);
			font-weight: 600;
			outline-offset: var(--outline-width);

			overflow: hidden;
			position: relative;

			* {
				z-index: 10;
			}

			&::before {
				animation: rotate 2s infinite linear;
				background-color: transparent;
				content: "";
				height: 50%;
				left: -50%;
				position: absolute;
				transition: background-color var(--transition);
				width: calc(200%);
			}

			@keyframes rotate {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}

			&::after {
				background-color: inherit;
				border-radius: inherit;
				content: "";
				inset: var(--outline-width);
				position: absolute;
			}

			&:focus,
			&:hover {
				&::before {
					background-color: var(--primary-color-contrast);
				}
			}
		}

		&.btn-glass {
			background: var(--background-color-glass);
			border: 1px solid var(--border-color);
			box-shadow: var(--box-shadow);

			&:focus-within {
				background: var(--background-color-secondary);
			}
		}
	}

	&.form-input {
		background: transparent;
		border: var(--outline-width) solid var(--border-color);
		outline-offset: calc(var(--outline-width) * -1);

		padding: var(--spacing);
	}
}

.caption {
	font-size: 0.8em;
	opacity: 0.8;
	text-transform: uppercase;
}

i.primary-icon {
	aspect-ratio: 1/1;
	background: var(--primary-color);
	border-radius: var(--border-radius);
	color: var(--primary-color-contrast);
	display: grid;
	height: 28px;
	place-items: center;
}

button, input {
	color: var(--font-color);
	font-family: inherit;
}
