.login {
	--login-form-width: 500px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-height: 100vh;

	> :first-child {
		flex: 1 1 var(--login-form-width);
		min-width: var(--login-form-width);

		img {
			width: 90%;
			height: 90%;
			max-height: 90vh;
			object-fit: contain;
		}
	}

	> :last-child {
		width: var(--login-form-width);

		height: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
		justify-content: center;
		padding: calc(var(--spacing) * 2);

		background: var(--background-color-secondary);

		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			aspect-ratio: 1/1;
			max-height: 50%;
			background: red;
			background: radial-gradient(circle at 100% 0%, var(--primary-color) 10%, transparent 70%);
			opacity: var(--background-bleed-opacity);
			z-index: 0;
		}

		* {
			z-index: 1;
		}

		.login-title {
			line-height: 1.25em;
			margin-bottom: 0.4em;
		}

		.login-subtitle {
			font-size: 0.8em;
			opacity: 0.8;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: var(--spacing);

			&,
			.btn {
				margin-top: calc(var(--spacing) * 2);
			}

			.btn {
				align-self: flex-start;
			}
		}

		.form-divider {
			display: flex;
			align-items: center;
			margin-top: calc(var(--spacing) * 1);

			.form-divider-line {
				flex: 1;
				height: 1px;
				width: 100%;
				background: var(--border-color);
				margin-inline: var(--spacing);
			}
		}

		.login-social {
			display: flex;
			flex-direction: row;
			width: 100%;
			gap: var(--spacing);

			> * {
				flex: 1;
			}
		}
	}

	@media (max-width: 1000px) {
		& {
			background: var(--background-color-secondary);
		}

		> :first-child {
			display: none;
		}

		> :last-child {
			&::before {
				left: calc(100vw - 100%);
			}
		}
	}
}
