.search {
	align-items: flex-start;
	display: none;
	height: 100%;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transition: all var(--transition);
	width: 100%;
	border-radius: 0;

	z-index: 2000;

	backdrop-filter: none;

	&.active {
		opacity: 1;
		pointer-events: all;
		backdrop-filter: blur(2px);
	}

	> .search-container {
		background: var(--background-color-primary);

		border-radius: var(--border-radius);
		display: flex;
		filter: drop-shadow(0 0 600px var(--primary-color));
		flex-direction: column;
		margin-block: 100px;
		max-width: 600px;

		transform: scale(125%);
		width: 90%;

		> div:first-child {
			position: relative;

			--icon-width: 24px;

			i {
				display: grid;
				height: 100%;
				left: var(--spacing);
				place-items: center;
				pointer-events: none;
				position: absolute;
				width: var(--icon-width);
			}

			input {
				background: var(--background-color-primary);
				border: none;
				border-radius: var(--border-radius) var(--border-radius) 0 0;
				font-size: 1.2em;
				height: 100%;
				padding: var(--spacing) var(--spacing) var(--spacing) calc(var(--spacing) * 1.5 + var(--icon-width));
				width: 100%;
			}
		}

		.search-info {
			background: var(--background-color-secondary);
			font-size: 0.8em;
			padding: 0.2em var(--spacing);
		}

		.search-result {
			align-items: center;
			border-bottom: 1px solid var(--border-color);
			cursor: pointer;
			display: flex;
			justify-content: space-between;

			padding: calc(var(--spacing) / 2) var(--spacing);

			:nth-child(2) {
				flex: 1;
				padding-left: var(--spacing);
			}

			:nth-child(3),
			:nth-child(4) {
				text-align: center;
				width: 25%;
			}

			&:last-child {
				border-bottom: none;
			}
		}

		> :last-child {
			border-radius: 0 0 var(--border-radius) var(--border-radius);
		}
	}
}
